{{ define "content" }}
<a href="/currency/add">+ Add</a>
<a href="/currency/edit">Edit</a>
<a href="/currency/delete">Delete</a>
<table>
  <tr>
    <th>currency_id</th>
    <th>code</th>
    <th>name</th>
    <th>symbol</th>
    <th>Exchange_rate</th>
    <th>Is_base_currency</th>
    <th>Is_active</th>
    <th>Created_at</th>
    <th>Updated_at</th>
  </tr>

  {{range .CurrencyList}}
  <tr>
    <td>{{ .Currency_id}}</td>
    <td>{{ .Code}}</td>
    <td>{{ .Name}}</td>
    <td>{{ .Symbol}}</td>
    <td>{{ .Exchange_rate}}</td>
    <td>{{ .Is_base_currency}}y</td>
    <td>{{ .Is_active}}</td>
    <td>{{ .Created_at}}</td>
    <td>{{ .Updated_at}}</td>
  </tr>
  {{end}}
</table>
{{end}}
